/*************************************************************************************************/
/*헤더에 관한 css*/
/*************************************************************************************************/

.chat-room-body {
  background-color: #b2c7d9;
}

.chat-room__header-container {
  background-color: #a9bdce;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.chat-room__header-container .chat-room__header {
  /* border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  /*transition: background-color 0.5s ease-in-out;*/
}

.chat-room__header .header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*이미지 컨테이너기본 사이즈 설정*/
.chat-room__header .img-container {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

/*이미지 기본 설정*/
.img-box .avatar {
  border-radius: 10px;
  height: 100%;
}

/*이미지가 4개 있을 경우 컨테이너 설정*/
.chat-room__header .img-container.four-item {
  background-color: #a9bdce;
  display: grid;
  grid-template-columns: 23px 23px;
  grid-row: auto auto;
  grid-column-gap: 2px;
  grid-row-gap: 1px;
}

/*이미지가 4개 있을 경우 이미지 박스 설정*/
.chat-room__header .img-container.four-item .img-box {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*이미지가 3,4개일 때 border-radius*/
.chat-room__header .img-container.four-item .img-box .avatar {
  border-radius: 8px;
}

.chat-room__header .header__column .chat-room__info-box {
  height: 50px;
}

.chat-room__header .header__column .chat-room__info-box .chat-room__members {
  font-size: 12px;
  color: #4a4c4e;
  font-weight: 700;
}

.chat-room__header .header__column .chat-room__info-box .chat-room__members-num,
.chat-room__info-btn-container .info-btn {
  font-size: 11px;
  color: #606b75;
}

.chat-room__info-btn-container .info-btn {
  cursor: pointer;
}

.chat-room__info-btn-container .info-btn:hover {
  color: black;
}

.chat-room__header .header__column:last-child .header__screen-btn {
  font-size: 9px;
  color: #606b75;
}

.chat-room__header .header__column:last-child .header__btn-container {
  font-size: 12px;
  color: #606b75;
}

.chat-room__info-box .chat-room__info-btn-container {
  margin-top: 10px;
}

.chat-room__info-box .chat-room__info-btn-container .info-btn:first-child {
  margin-right: 10px;
}

.chat-room__header .header__column:last-child {
  padding: 2px 0px;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 55px;
}

.chat-room__header .header__column:last-child .header__screen-btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.chat-room__header .header__column:last-child .header__screen-btn i {
  cursor: pointer;
  font-weight: 700;
}

.chat-room__header .header__column:last-child .header__screen-btn i:hover {
  color: black;
}

.chat-room__header .header__column:last-child .header__btn-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chat-room__header
  .header__column:last-child
  .header__btn-container
  .header__btn {
  padding: 4px;
  border-radius: 50%;
  background-color: #a0b3c3;
  cursor: pointer;
}

.chat-room__header
  .header__column:last-child
  .header__btn-container
  .header__btn:hover {
  background-color: #8a9aa8;
  color: black;
}

.chat-room-main {
  margin-top: 80px;
  background-color: #b2c7d9;
  min-height: 100vh;
}

/*************************************************************************************************/
/*채팅 메시지에 관한 css*/
/*************************************************************************************************/

.chat-room-lists .message {
  display: flex;
  padding: 0px 10px;
}

.chat-room-lists .message.receive-message {
  /*justify-content:flex-start;*/
}

.chat-room-lists .message.send-message {
  justify-content: flex-end;
}

.receive-message .avatar {
  height: 40px;
  width: 40px;
  border-radius: 13px;
  margin-right: 5px;
}

.receive-message .message-box .message-author {
  font-size: 12px;
  color: #3e3e3e;
}

.receive-message .message-box .message-bubble {
  display: flex;
  margin-top: 7px;
  height: 28px;
}

.receive-message .message-bubble .bubble__text,
.send-message .message-bubble .bubble__text {
  padding: 5px 5px 10px 5px;
  font-size: 11px;
  background-color: white;
  border-radius: 3px;
  color: #3e3e3e;
  height: 100%;
}

.send-message .message-bubble .bubble__text {
  background-color: #ffeb33;
}

/*************************************************************************************************/
/*받는 메시지에 관한 css*/
/*************************************************************************************************/

.receive-message .message-bubble .bubble__adon {
  position: relative;
  margin-left: 5px;
}

.receive-message .message-bubble .bubble__adon .message__num-left {
  font-size: 10px;
  color: #afc33a;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.receive-message .message-bubble .bubble__adon .message__timestamp {
  display: none;
  color: #3e3e3e;
  font-size: 10px;
}

.receive-message .message-bubble:last-child .bubble__adon .message__num-left {
  position: static;
}

.receive-message .message-bubble:last-child .bubble__adon .message__timestamp {
  display: block;
}

/*************************************************************************************************/
/*보내는 메시지에 관한 css*/
/*************************************************************************************************/

.send-message .message-box .message-bubble {
  display: flex;
  justify-content: flex-end;
  margin-top: 7px;
  height: 28px;
}

.send-message .message-bubble .bubble__adon {
  position: relative;
  margin-right: 5px;
  height: 100%;
}

.send-message .message-bubble .bubble__adon .message__num-left {
  font-size: 10px;
  color: #afc33a;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.send-message .message-bubble .bubble__adon .message__timestamp {
  display: none;
  color: #3e3e3e;
  font-size: 10px;
}

.send-message .message-bubble:last-child .bubble__adon .message__num-left {
  position: absolute;
  top: 5px;
  right: 0px;
}

.send-message .message-bubble:last-child .bubble__adon .message__timestamp {
  display: block;
  position: absolute;
  bottom: 3px;
  right: 0px;
  width: 41px;
}

/*************************************************************************************************/
/*메시지 입력창에 관한 css*/
/*************************************************************************************************/

.chat-room-body .footer {
  /*다른 화면의 footer랑 같은 속성*/
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  padding: 10px;
  /*다른 화면의 footer랑 같은 속성*/
}

.footer .fotter__input-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer .chat-room__input {
  width: 90%;
  height: 60px;
  font-size: 10px;
  font-weight: 800;
  color: black;
  outline: none;
  border: none;
}

.footer .send-btn {
  background-color: #ffeb33;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.footer .send-btn:hover {
  background-color: #f1de32;
}

.footer .send-btn:focus {
  background-color: #dac82c;
}

.footer .footer-btn i {
  margin-right: 10px;
  opacity: 0.6;
}

.footer .footer-btn i:hover {
  color: rgb(33, 112, 158);
}
