/*.friends-main .friends__section {
  border: 1px solid yellow;
}*/

/* .friends__section .my-section {
  padding-bottom: 5px;
} */

.friends-main .friends__title {
  font-size: 11px;
  color: gray;
  padding: 5px 20px;
  /*border: 1px solid black;*/
  margin-top: 10px;
}

.friends-main hr {
  margin: 5px 20px;
  opacity: 0.6;
}
