.friends-main .friends__section {
  border: 1px solid yellow;
}

.friends__section .my-section {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.friends-main .friends__title {
  font-size: 13px;
  color: gray;
  padding: 5px 0px;
}
