.main {
  margin-left: 60px;
  width: -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width: -moz-calc(100% - 60px); /* for Firefox */
  width: calc(100% - 60px); /* for IE */
  border: 1px solid black;
  min-height: 2000px;
}

.main .main__section {
  border: 1px solid yellow;
}
