.main {
  margin-left: 60px;
  width: -webkit-calc(100% - 60px); /* for Chrome, Safari */
  width: -moz-calc(100% - 60px); /* for Firefox */
  width: calc(100% - 60px); /* for IE */

  min-height: 2000px;
}
