.nav {
  background-color: #eeebeb;
  position: fixed;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  left: 0;
  top: 0;
}

.nav .nav__list {
  padding: 20px;
  font-size: 20px;
}

.nav .nav__list:first-child {
  padding-top: 40px;
}

.nav .nav__list:last-child {
  padding-bottom: 20px;
}

.nav .nav__list:first-child .nav__list-item {
  margin-bottom: 30px;
  color: gray;
}

.nav .nav__list:last-child .nav__list-item {
  margin-top: 14px;
  color: gray;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
}

.nav .nav__list:last-child .nav__list-item:hover {
  background-color: #f3f1f1;
}

.nav .nav__list:last-child .nav__list-item:last-child {
  font-size: 15px;
  margin-left: 2px;
}

.nav .nav__list:first-child .item__selected {
  color: black;
}

.nav__list .list-link {
  position: relative;
}

.nav .list-link .comment-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 2px;
  border-radius: 50%;
  top: -3px;
  right: -5px;
  width: 15px;
  height: 15px;
}
