.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.friends-main .user:hover {
  background-color: rgb(245, 240, 240);
}

.user:focus {
  background-color: rgb(68, 40, 40);
}

.user .user__column {
  display: flex;
  align-items: center;
}

.user .user__column:first-child {
  /* background-color: rgb(255, 214, 221); */
  justify-content: space-between;
  /* border: 1px solid red; */
}

.user .user__column:last-child {
  /* background-color: rgb(197, 12, 43);
  border: 1px solid green; */
  justify-content: flex-end;
  max-width: 70%; /*이렇게 주니까 now-listening부분이 이름부분을 침범하지 않음.*/
  /* border: 1px solid blue; */
}

.user .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.more-main .avatar {
  margin-right: 15px;
}

.user .avatar.b-avatar {
  /*avtar와 b-avatar 두 속성 모두를 가지 고 있는 이미지는 더 크게 표현*/
  width: 50px;
  height: 50px;
  border-radius: 18px;
}

.user .avatar.m-avatar {
  border-radius: 13px;
}

.user .user__column .user__info-box {
  /* border: 1px solid black; */
  line-height: 12px;
}

.user .user__column .user__info-box .user__name,
.user .user__column .user__info-box .user__status,
.user .user__column .user__info-box .user__name-num,
.user .user__column .user__info-box .user__name-icon {
  font-size: 13px;
  font-weight: 700;
}
.user .user__column .user__info-box .user__email {
  display: block;
  font-size: 12px;
  color: rgb(197, 196, 196);
  margin-top: 8px;
}

.user .user__column .user__info-box .user__name-num {
  color: gray;
  margin-left: 5px;
}

.user__column .user__now-listening,
.user__column .user__gift {
  border: 1px solid rgb(24, 185, 24);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 10px;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user__column .user__gift {
  border: 1px solid rgb(185, 79, 97);
}
